<h1>BUNNY HOUSE</h1>
<%= link_to image_tag('profileimage.png'), 'https://www.whitebunny.net' %>
<p>
  BUNNY HOUSE was created for the people by the wishes of the people.
<br><%= link_to 'Home', root_path %>
