<h1>Showing selected bukken</h1>

<p>
  Title: <%= @bukken.title %>
</p>

<p>
  Description: <%= @bukken.description %>
</p>

<%= link_to "Edit this bukken", edit_bukken_path(@bukken) %> | 
<%= link_to "Back to bukken listing", bukkens_path %>
