<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; The Life Changing Parent Company
      by <a href="https://www.whitebunny.net">WHITE BUNNY</a>
      </small>
      <nav>
        <ul>
          <li><%= link_to "About", about_path %></li>
        </ul>
      </nav>
    </footer>
  </div>
